<!-- templates/update.html -->
{% extends 'base.html' %}

{% block body %}
  {% include "form.tpl" %} 
<div id="content">
  <h1>Updated the note - {{ tmpl_updated_id }}</h1>

  <p>note {{ tmpl_updated_id }} を更新しました</p>
  <ul class="timeline">
  {% for id in tmpl_idx %}
    <li class="event" data-date="{{tmpl_notes[id]['created_on']}}">
      <h3>[id:{{id}}] - {{tmpl_notes[id]['body']}}</h3>
      <p>[{{tmpl_notes[id]['tags']}}	], {{tmpl_notes[id]['main_task']}}</p>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock %}
